@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

:root{
  --primary: #efb6b2;
  --secondary: #4e4e4e;
  --error: #ff4a4a;
}

/* base styles & title */
body{
  font-family: "Noto Serif";
  color: var(--secondary);
}
.App{
  max-width: 960px;
  margin: 0 auto;
}
.title{
  display: flex;

}
.title h1{
  letter-spacing: 2px;
  font-weight: normal;
}

.title button{
  letter-spacing: 2px;
  font-weight: normal;
  margin-left: 800px;
  height: 40px;
  font-size: 20px;
  display: flex;
}

.header h1{
  text-align: left;
  letter-spacing: 2px;
  font-weight: normal;
}

.header h2{
  text-align: left;
  letter-spacing: 2px;
  font-weight: normal;
}

.header h4{
  
  letter-spacing: 2px;
  font-weight: normal;
}
.detail{
  padding-left: 10px;
}

.address{
  padding-left: 20px;
}

.menus{
    width: auto;
    height: auto;
    margin: 10px;
    padding-left: 10px;
    box-shadow: 4px 3px 7px 2px #00000040;
    border: 3px solid black;
}
  .button-class {
    padding: 0;
    border: none;
    font-size: xx-large;
    font-family: "Architects Daughter", cursive;
    text-decoration: none;
    padding-bottom: 3px;
    border-radius: 5px;
    background-color: #ffeaa7;
  }

  .container {
    width: auto;
    height: 150px;
    border-radius: 20px;
    box-shadow: 4px 3px 7px 2px #00000040;
    border: 3px solid black;
    padding: 1rem;
    box-sizing: border-box;
    margin-bottom: 1rem;  
  }

  .container h1 {
    position: relative;
    padding: 2px 4px;
    margin: 2px 4px 100px 1px; 
      }
   
  .container img {
    float:left;
    width: 120px;
    height: 120px;  
  }
 

  .heading {
    display: flex;
      }
  .heading h1 {
   
    font-size: 1.5rem;
  }

  .restaurant{
    border: 2px solid black;
    width: auto;
    height: auto;
    max-width: 400px;
  }

/* upload form styles */
.displaycity{
  margin: 30px auto 10px;
  text-align: center;
}
label input{
  height: 0;
  width: 0;
  opacity: 0;
}
label{
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid var(--primary);
  border-radius: 50%;
  margin: 10px auto;
  line-height: 30px;
  color: var(--primary);
  font-weight: bold;
  font-size: 24px;
}
label:hover{
  background: var(--primary);
  color: white;
}
.output{
  height: 60px;
  font-size: 0.8rem;
}
.error{
  color: var(--error);
}


.form {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form input {
  padding: 20px;
  border-radius: 3px;
  /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.137); */
  margin-bottom: 20px;
  border: 1px solid lightgray;
  /* border: none; */
  background: #fff;
  font-size: 16px;
  color: rgb(0, 0, 32);
  outline: none;
  width: 200px;
}

.form input:focus {
  border: 1px solid rgb(0, 134, 196);
  width: 200px;
}

.form button {
  padding: 20px;
  border: none;
  background-color: rgb(2, 97, 110);
  font-weight: 500;
  font-size: 20px;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  margin-top: 10px;
  width: 200px;
}

.form button:hover {
  background-color: rgb(0, 167, 196);
  width: 200px;
}